
				.premiereCouleur{
				  background-color:rgba(63,118,132,1) !important;
				}

				.premiereCouleurText{
				  color:  rgba(63,118,132,1) !important;
				}

				.premiereCouleurBorder{
				  border-color:  rgba(63,118,132,1) !important;
				}

				.secondeCouleur{
				    background-color: rgba(203,203,203,1) !important;
				}

				.secondeCouleurText{
				  color: rgba(203,203,203,1) !important
				}

				.secondeCouleurBorder{
				  border-color: rgba(203,203,203,1) !important
				}