
				.premiereCouleur{
				  background-color:rgb(61, 111, 123) !important;
				}

				.premiereCouleurText{
				  color:  rgb(61, 111, 123) !important;
				}

				.premiereCouleurBorder{
				  border-color:  rgb(61, 111, 123) !important;
				}

				.secondeCouleur{
				    background-color: rgba(42,110,127,1) !important;
				}

				.secondeCouleurText{
				  color: rgba(42,110,127,1) !important
				}

				.secondeCouleurBorder{
				  border-color: rgba(42,110,127,1) !important
				}