
				.premiereCouleur{
				  background-color:rgb(131, 183, 118) !important;
				}

				.premiereCouleurText{
				  color:  rgb(131, 183, 118) !important;
				}

				.premiereCouleurBorder{
				  border-color:  rgb(131, 183, 118) !important;
				}

				.secondeCouleur{
				    background-color: rgba(70,186,190,1) !important;
				}

				.secondeCouleurText{
				  color: rgba(70,186,190,1) !important
				}

				.secondeCouleurBorder{
				  border-color: rgba(70,186,190,1) !important
				}