html,body {
	height: 100%;
	}

#contenu{
	min-height: 80%;
}

#logo {
    width: 70px;
    left: 3%;
    position: absolute;
}

.pad1 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #000;
  color: #bbb;
  line-height: 1.5;
   bottom: 0px;
   left:0px;
   padding-top: 20px;

}
footer a {
  text-decoration: none;
  color: #eee;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #f7f7f7;
  color: black;
}

.ft-legal a {
  color: black;
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

/*Produit*/
.centrer{
	text-align: center;
	}

.bouton{
	position:absolute;
	 background-color: white;

	z-index:2;
	font-size:200%}

.produit{
	border-radius: 20px;
	 width: 290px;
	 height: 290px;
	 background-color: grey;
	 background-repeat: no-repeat;
	 background-size: cover;
	/* margin: 10px;*/
	display: block;
    margin-left: auto;
    margin-right: auto;
    z-index:1;
    position:absolute;

}
.baleine{

	 background-image: url(../image/baleine.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;
}

.poisson{

	 background-image: url(../image/poisson.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;
}

#searchBox{
  border-radius: 5px ;
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 10px;
  padding-top: 3px;
}

.inputButton{
  border:1px solid rgba(0,0,0,0);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 5px;
  cursor:pointer;
}

.inputButtonApprofondie{
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.searchBarBox{
      border: 3px solid white;
      margin-bottom: 0px !important;
      width:100%;
}

.searchBarInput{
      font-size: 1.3rem !important;
}

#plusCriteres{
 text-align: right;
 color:#ff392f !important;
}

a { color: inherit !important; }

.ligne{
  border-bottom:solid 1px;
  height: 1px;
}

.contientCheckBox{
  margin-top: 10px;
}

input[type=checkbox] +span{
  padding-left:25px !important;
  padding-right:20px;
}

.searchBoxApprofondie{
  padding-top:2vh !important;
}

#resultSearchVille{
    margin-top: -3px;
    margin-bottom: 3px;
    left: 3px;
    right: 3px;
    position: absolute;
    z-index: 1;
}

#contenantVille{
  position: relative;
  padding: 0px;
}

.resultWord{
  -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    padding: 10px;
    color:black;
}

#searchBoxVille{
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.resultWord:hover{
  background-color: #d9d7d6;
}

.resultWordHover{
  background-color: #d9d7d6;
}

.imageBoite{
    background-color: -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: auto;
    -webkit-border-top-left-radius: .5rem;
    border-top-left-radius: .5rem;
    -webkit-border-bottom-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: #cad1d9;
    position: relative;
    width: 20rem;
    min-height: 17rem;
}

.imageBoite img{
  position: absolute;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;}

.boite{
  padding-left:0px !important;
  border-radius: 7px !important;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 1px -1px rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.2) !important;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.14), 0 1px 1px -1px rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.2) !important;
  display: flex;
  padding: 0 !important;
}

.boite_hover:hover{
  border-radius: 7px !important;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 3px 3px -3px rgba(0,0,0,0.12), 0 3px 6px 0 rgba(0,0,0,0.2) !important;
  box-shadow: 0 0px 3px 0 rgba(0,0,0,0.14), 0 3px 3px -3px rgba(0,0,0,0.12), 0 3px 6px 0 rgba(0,0,0,0.2) !important;
  cursor:pointer;
}

.infoBoite{
  padding: 2rem;
  width:100%;
}

.prix{
  font-size: 20px;
  font-weight: bold;
  color: #2f2f2f;
}

.surface{
  display:flex;
  position: relative;
}

.surfaceText{
  position: absolute;
  bottom: 0;
  left:1.5rem;
}

.myCarousel{
    position: relative;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
}

#myCarouselImage{
    background-color: #cad1d9;
    width: 62vh;
    min-height: 52vh;
}

#myCarouselBouton{
    width: 62vh;
    min-height: 8vh;
    position: absolute;
    bottom: 0rem;

}

.slide{
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 1s;
  display:flex;
}

.intoSlide{
  height: 100%;
	width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
	position: relative;
}

.flexSlide{
	  flex: 0 0 100%;
}

.intoSlideBouton{
  max-width: 75% !important;
  margin-left: 12.5% !important;
  margin-right: 12.5% !important;
}

.intoSlideImage{
  max-width: 100%;
	max-height: 100%;
	margin-left: auto;
  margin-right: auto;
  display: block;
}

.intoSlide img{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.boutonSlider{
  padding:0 !important;
  border-radius: 0.5rem;
  height: 6vh;
  border: solid black 1px;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  background-color: white;
}


.boutonSlider:hover{
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 3px 3px -3px rgba(0,0,0,0.12), 0 3px 6px 0 rgba(0,0,0,0.2) !important;
  box-shadow: 0 0px 3px 0 rgba(0,0,0,0.14), 0 3px 3px -3px rgba(0,0,0,0.12), 0 3px 6px 0 rgba(0,0,0,0.2) !important;
  cursor:pointer;
}

.carteLot{
	float: left;
  padding:0 !important;
  width:auto !important;
}

.ImageBoutonSlide{
  border-radius: 0.5rem;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.selectionne{
  opacity: .3;
}

#boutonDroite{
  position: absolute;
  top:50%;
  right:-1rem;
  opacity: 0.8;
}

#boutonGauche{
  position: absolute;
  top:50%;
  left:-1rem;
  opacity: 0.8;
}

.relative{
  position: relative;
}

.infosEssentiels{
  padding:1rem 2rem 1.5rem 2rem;
}

.nom{
    font-size: 25px;
    font-weight: bold;
}

.loyer{
  font-size: 20px;
  color: #ee6e73;
}

.main{
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#sauvegardeAnnonce{
  justify-content: center;
  -webkit-justify-content: center;
  color-transition:0.2s;
}

.flex{
  display: flex;
}

.fondTransparent{
    position: fixed;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
		z-index: 2;
}


#connexion input{
    border-radius: 5px;
    border: solid grey 1px;
    padding-left: 5px;
}

#boutonConnexion{
  padding: 10px 30px 10px 30px !important;
}

.liste li{
  display: inline-flex;
  padding: 0.75em 1em 0.75em 1em;
  font-weight:630;
	background-color: #c2bebb;
	margin: 0.2em 0.5em 0.2em 0.5em;
}

.titrePartie{
  font-size: 20px;
  font-weight:630;
}

.liste{
  padding-left:2em !important;
}

.listeFinDePage li{
	display: inline-block;
	position: relative;
}

.listeFinDePage li a{
	margin: 0 .2rem;
	padding: 0 .8rem;
	position: relative;
}

.listeFinDePage li a i{
	position: absolute;
	left: 0;
}

.listeFinDePage li i{
	position: absolute;
	left: 0;
}

.pageSelection :before {
  content : "";
  position: absolute;
  left    : 0.5em;
  bottom  : 0;
  height  : 1px;
  width   : 50%;
  border-bottom:1px solid grey;
}

.premiereCouleur{
 	background-color: 	#ee6e73 !important;
}

.premiereCouleurText{
 	color: 	#ee6e73 !important;
}

.secondeCouleur{
	  background-color: #eeac6e !important;
}

.secondeCouleurTexte{
	color:#eeac6e !important
}

.decoupageSection{
	border-bottom: solid 1px #c4c2c1;
	margin-bottom: 2em;
  margin-top: 2em;
}

.descriptionWrap{
	width:62vh;
}

.noPadding{
	padding: 0 !important;
}

.critere{
	padding-top: 1em !important;
	display: inline-flex;
}

.nomCritere{
	color:grey;
}

.critereLot{
		font-weight: 500;
		margin-left: 5px;
}

#description{
	margin-top: 1em;
}

.grid{
	display: grid;
	grid-template-columns: 65% 35%;
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.containerLot{
		margin-top: 1.5em !important;
		margin-left: 25%;
}

#contact{
	float:left;
	margin-left: 1em;
	font-size: 19px;
	min-width: 29vh;
}

.contenuContact{
	padding: 1em;
}

.phraseContact{
	display: block;
	text-align: center;
	padding-bottom: 1em;
}

.contactButton{
	height: 2em;
	border-radius: 3px;
	margin-bottom: 1em;
	text-align: center;
	color: #fff;
	font-weight: 500;
	align-items: center;
	justify-content: center;
}

.contactContent{
	height: 2em;
	border-radius: 3px;
	margin-bottom: 1em;
	text-align: center;
	font-weight: 400;
	align-items: center;
	justify-content: center;
	border: solid 1px #ee6e73;
}

.contactContent i{
	margin-right: 5px;
}

.contactButton:hover{
	cursor: pointer;
}

.contactButton i{
	margin-right: 5px;
}

.lightBold{
	font-weight: 500;
}

.displayNone{
	display:none;
}

.displayFlex{
	display: flex;
}

.sticky-top {
	position:fixed!important;
	top:0!important;
	z-index:10000!important;
}

.floatLeft{
	float: left;
}

.container{
	max-width: 1780px !important;
}

#descriptionWrapper{
  margin-right: calc(100% - 40em - 25%);
}

.lever{
      padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .switch{
    display: inline !important;
  }

	.container{
		    margin-top: 1.5em !important;
	}

	.creationCompteCard{
		        padding: 3% 7% 12% 6%;
	}
